<footer class="text-center text-lg-start bg-light fixed-bottom">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Sociala länkar:</span>
    </div>
    <div>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alexis-flach" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
</footer>