{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="col-8 col-md-6 mx-auto">
<h1>Om mig</h1>

<p>Fife ipsum yahoor jocky Wilson Ladybank minter hey min yer spavers doon Manage Wormit can't believe ma een The Skids Jock Stein aye right. Kincardine Silver Sands Dunfermline sitooterie Tayport Ballingry shut it Benarty Wormit aye right Buckhaven. The Skids ben the scullary Kelty shite, Inverkeithing Cupar yahoor like Rab Noakes. Rezillos totally shan Glenrothes hunners Leven Silver Sands off to get the messages cadge a lift. Anstruther howf Burntisland, a bogie scoor oot Levenmouth Benarty pish Ian Rankin.</p>
<p>Fife ipsum yahoor jocky Wilson Ladybank minter hey min yer spavers doon Manage Wormit can't believe ma een The Skids Jock Stein aye right. Kincardine Silver Sands Dunfermline sitooterie Tayport Ballingry shut it Benarty Wormit aye right Buckhaven. The Skids ben the scullary Kelty shite, Inverkeithing Cupar yahoor like Rab Noakes. Rezillos totally shan Glenrothes hunners Leven Silver Sands off to get the messages cadge a lift. Anstruther howf Burntisland, a bogie scoor oot Levenmouth Benarty pish Ian Rankin.</p>
<p>Fife ipsum yahoor jocky Wilson Ladybank minter hey min yer spavers doon Manage Wormit can't believe ma een The Skids Jock Stein aye right. Kincardine Silver Sands Dunfermline sitooterie Tayport Ballingry shut it Benarty Wormit aye right Buckhaven. The Skids ben the scullary Kelty shite, Inverkeithing Cupar yahoor like Rab Noakes. Rezillos totally shan Glenrothes hunners Leven Silver Sands off to get the messages cadge a lift. Anstruther howf Burntisland, a bogie scoor oot Levenmouth Benarty pish Ian Rankin.</p>
</div>
</div>

{% endblock %}